body{
    margin: 0;
    font-family: 'Fredoka One', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
}

#menuBar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

#logo{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    color: rgb(62, 142, 176);
    justify-content: flex-start;
    font-weight: lighter;
    letter-spacing: 2px;
}

#menus{
    display: flex;
    justify-content: flex-end;
}

#menuList{
    display: flex;
    list-style: none;
    align-items: center;
    font-family: 'Gugi', cursive;
    font-size: 18px;
    color: rgb(62, 142, 176);
    padding: 30px 0px;
    justify-content: row;
}

#menuList li{
    margin: 10px 120px;
    justify-content: flex-end;
    margin-right: 0;
    cursor: pointer;
}

#menu01 p:link { color: rgb(62, 142, 176); text-decoration: none;}
#menu01 p:visited { color: rgb(62, 142, 176); text-decoration: none;}
#menu01 p:hover { color: rgb(236, 109, 92); text-decoration: none;}

#menu02 p:link { color: rgb(62, 142, 176); text-decoration: none;}
#menu02 p:visited { color: rgb(62, 142, 176); text-decoration: none;}
#menu02 p:hover { color: rgb(95, 95, 95); text-decoration: none;}

#menu03 p:link { color: rgb(62, 142, 176); text-decoration: none;}
#menu03 p:visited { color: rgb(62, 142, 176); text-decoration: none;}
#menu03 p:hover { color: rgb(110, 182, 79); text-decoration: none;}

#menu04 p:link { color: rgb(62, 142, 176); text-decoration: none;}
#menu04 p:visited { color: rgb(62, 142, 176); text-decoration: none;}
#menu04 p:hover { color: rgb(137, 113, 176); text-decoration: none;}

#menu05 p:link { color: rgb(62, 142, 176); text-decoration: none;}
#menu05 p:visited { color: rgb(62, 142, 176); text-decoration: none;}
#menu05 p:hover { color: rgb(236, 192, 92); text-decoration: none;}

#contents{
    width: 1300px;
    margin: auto;
}

#content01{
    height: 760px;
    width: 1300px;
}

.innerGap{
    display: flex;
    width: 100%;
    height: 100px;
}

.image1 img{
    float: left;
    width: 570px;
}

.intro{
    text-align: right;
    padding: 90px 0px;
}

.intro h2{
    font-family: 'Fredoka One', cursive;
    color: rgb(250, 180,70);
    font-size: 36px;
    letter-spacing: 5px;
    line-height: 15px;
    font-weight: lighter;
}

.intro h3{
    font-family: 'Gugi', cursive;
    color: rgb(62, 142, 176);
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 15px;
    font-weight: lighter;
}

.intro h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 0px;
}

.intro p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    font-weight: regular;
    line-height: 36px;
}

#content02{
    height: 1100px;
    width: 1080px;
    margin: auto;
}

.introduce h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    color: rgb(62, 142, 176);
    letter-spacing: 1px;
    line-height: 60px;
    font-weight: bold;
}

.introduce p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: regular;
    line-height: 50px;
    padding-left: 110px;
}

#box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#three{
    display: flex;
    position: absolute;
    padding: 50px;
}

#two{
    display: flex;
    position: absolute;
    margin-top: 350px;
}

#liver{
    width: 220px;
    text-align: center;
    padding: 0px 40px;
    cursor: pointer;
}

.liver img{
    float: left;
    width: 220px;
    padding: 15px 0px;
}

#liverTxt{
    text-align: center;
    font-family: 'Gugi', cursive;
}

#joint{
    width: 220px;
    text-align: center;
    padding: 0px 40px;
    cursor: pointer;
}

.joint img{
    float: left;
    width: 220px;
    padding: 15px 0px;
}

.jointTxt{
    text-align: center;
    font-family: 'Gugi', cursive;
}

#eye{
    width: 220px;
    text-align: center;
    padding: 0px 40px;
    cursor: pointer;
}

.eye img{
    float: left;
    width: 220px;
    padding: 15px 0px;
}

.eyeTxt{
    text-align: center;
    font-family: 'Gugi', cursive;
}

#old{
    width: 220px;
    text-align: center;
    padding: 0px 40px;
    cursor: pointer;
}

.old img{
    float: left;
    width: 220px;
    padding: 15px 0px;
}

.oldTxt{
    text-align: center;
    font-family: 'Gugi', cursive;
}

#all{
    width: 220px;
    text-align: center;
    padding: 0px 40px;
    cursor: pointer;
}

.all img{
    float: left;
    width: 220px;
    padding: 15px 0px;
}

.allTxt{
    text-align: center;
    font-family: 'Gugi', cursive;
}

#content03{
    justify-content: center;
    align-items: center;
    height: 830px;
    width: 1080px;
    margin: auto;
}

.bookmark h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    color: rgb(62, 142, 176);
    letter-spacing: 1px;
    line-height: 60px;
    font-weight: bold;
}

.bookmark h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: regular;
    line-height: 50px;
    padding-left: 110px;
}

.bookmark p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight:300;
    line-height: 25px;
    padding-left: 110px;
    cursor: pointer;
}

.bookmark p:link { color:black; text-decoration: none;}
.bookmark p:visited { color:black; text-decoration: none;}
.bookmark p:hover{ color: rgb(62, 142, 176); text-decoration: none;}

.bookmark h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: regular;
    line-height: 50px;
    padding-left: 110px;
}

footer{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 187px;
    background-color: rgb(62, 142, 176);
    margin: auto;
}

.footerContent{
    width: 1300px;
    text-align: center;
    float: left;
    margin: auto;
}

.left{
    width: 1000px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
}

#f1{
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    color: white;
    justify-content: flex-start;
    font-weight: lighter;
    letter-spacing: 2px;
    display: flex;
}

#ftmenuList{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    font-family: 'Gugi', cursive;
    font-size: 18px;
    color: white;
    margin: -14px 0px;
    position: absolute;
    clear: both;
}

#ftmenuList li{
    margin-right: 60px;
    cursor: pointer;
}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    display: inline;
    float: right;
}

#f2{
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    color: white;
    justify-content: flex-end;
    font-weight: lighter;
    letter-spacing: 2px;
    float: right;
}

#email{
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    color: white;
    justify-content: flex-end;
    font-weight: lighter;
    letter-spacing: 2px;
}

.arrow{
    width: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0;
    transition:opacity 0.5s;
}

.on{
    opacity: 1;
    /*display: none;*/
}
